.display-1{
    text-align: center;
    margin-top: 50px;
    margin-bottom:50px;
}
h1{
   text-align: center;
   size: 40cap;
   background-image: url('/Users/edenhagos/Desktop/1307332.avif');
   background-repeat: no-repeat;
   background-size: 1500px 100px;
   letter-spacing: 80px;
}
p{
    text-align:center;
    color:white;
    background-color: #aabebae3;
}
.centre{
    display:block;
    margin-left: auto;
    margin-right: auto;
    width: 50px;
}
.row {
  display: flex;
    padding: 25px 25px 25px;
}
.column {
  flex: 20%;
  padding: 5px;
  box-sizing: border-box;
}
  footer {
    background-color: #1D2D4F;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }